__pycache__/
venv/
.venv/
env/
*.pyc
*.pyo
*.pyd
*.pt
*.weights
runs/
datasets/
.env
.aws/
*.pem
*.pek
dist/
build/
.serverless/
*.txt
*.txt~
*.jpg
*.png
*.mp4
*.m4a
*.py~
*.*~
*.json
checkpoints/
*.skeleton