*.iml
.idea/
/.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*:Zone.Identifier
*:RVContext
code_to_python.py
code_to_kotlin.py
code_to_txt.py
code_to_kotlin_kts.py
*.py~
*.txt~
compiled_python_1.txt
compiled_python_2.txt
compiled_python_3.txt
compiled_python_4.txt
compiled_python_5.txt
compiled_code_1.txt
compiled_code_2.txt
compiled_code_3.txt
compiled_code_4.txt
compiled_code_5.txt
compiled_kotlin_1.txt
compiled_kotlin_2.txt 
compiled_kotlin_3.txt
compiled_kotlin_4.txt
compiled_kotlin_5.txt
