*.iml
.idea/
/.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*:Zone.Identifier
*:RVContext
code_to_python.py
code_to_kotlin.py
code_to_txt.py
code_to_kotlin_kts.py
*.py~
*.txt~
compiled_python_*.txt
compiled_code_*.txt
compiled_kotlin_*.txt

